<h1>Events</h1>
<br /><br />
<% if @events.present? %>
<form>
  <div class="search-container filter-fields form-inline">
    <div class="filter-field-item">
      <%= text_field :q, :id_eq, class: 'form-control  mb-2 mr-sm-2', value: @q.id_eq, placeholder: 'ID' %>
    </div>
    <div class="filter-field-item">
      <%= text_field :q, :title_cont, class: 'form-control  mb-2 mr-sm-2', value: params.dig(:q, :title_cont), placeholder: 'Title' %>
    </div>
    <div class="filter-field-item">
      <%= date_field :q, :on_date, class: 'form-control mb-2 mr-sm-2', value: params.dig(:q, :on_date) %>
    </div>
    <div class="filter-field-item  mb-2 mr-sm-2">
      <button type='submit' class='btn btn-success search-container__btn'>search</button>
    </div>
  </div>
</form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">start</th>
        <th scope="col">end</th>
        <th scope="col">Posted by</th>
      </tr>
    </thead>
    <tbody>

    <% @events.each do |event| %>
      <tr>
        <th scope="row"><%= event.id %></th>
        <td><%= link_to event.title.html_safe, event_path(event) %></td>
        <td><%= event.start_at&.strftime('%a, %b %d, %Y %H:%M') %></td>
        <td><%= event.end_at&.strftime('%a, %b %d, %Y %H:%M') %></td>
        <td><%= event.member&.username %></td>
      </tr>
    <% end %>

    </tbody>
  </table>


<% else %>
  <p>No events</p>
<% end %>