<div class="event">
  <h1>
    <%= @event.title.html_safe %> 
    <% if can? :update, @event %>
      <%= link_to 'edit', edit_event_path, class: 'btn btn-default' %>
    <% end %>
  </h1>

  <p><strong>Posted by</strong><br /><%= @event.member.username %></p>

  <p><strong>Start</strong><br /><%= @event.start_at %></p>

  <p><strong>End</strong><br /><%= @event.start_at %></p>

  <p><strong>Description</strong><br /><%= @event.description.html_safe %></p>
</div>
